/*
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/font-awesome/fontawesome-webfont.eot?v=4.5.0');
  src: url('fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('fonts/font-awesome/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('fonts/font-awesome/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('fonts/font-awesome/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('fonts/font-awesome/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/




@media screen and (min-width:220px) and (max-width:991px){	
	.container{
		padding:8px;
		margin-bottom: 10px;
	}
	#head-banner{
		margin:0 auto;	
	}
	.nav {
		margin:30px 0 0;
	}
	h1{
		margin:30px auto 10px;
	}
	h2{
		font-size: 1.4em;
		/*padding-top: 10px; */
	}
	#secondary-content{
		display:none;
	}

	#bio-section{
		margin-bottom: 40px;
	}
	#profile-pic-mobile{
		width:45%;		
		margin:30px auto 0px;
	}
	.blog-entry{
		padding:10px;
		margin-bottom: 10px;
	}

	.date-blog-entry{
		margin: 10px;
		text-align:left;
		font-size:13pt;
	}
	.title-blog-entry{
		margin: 10px;
		text-align:left;
		font-size:16pt;
	}
	.pic-blog-entry{
		margin: 10px;
	}
	.text-blog-entry{
		margin: 10px;
		text-align:left;
		font-size:1.1em;
		line-height: 1.4em;
	}
	
	ul{
		padding:0;
	}
	.social-media-buttons{
		padding-right: 20px;	
	}	
}

@media screen and (min-width:768px) and (max-width:991px){
	.container{
		padding:20px;
		width:100%;
		margin-bottom: 20px;
	}
	h1{
		margin:40px auto 20px; 
		font-size: 4em;
	}
	h2{
		font-size: 1.8em;
	}
	#head-banner{
		margin:0px auto -40px;
	}
	#profile-pic-mobile{
		width:25%;
		margin:30px auto 40px; 
	}
	#profile-pic{
		display:none;
	}
	.blog-entry{
		padding:30px;
	}
}



@media screen and (min-width:992px){	
	.container{
		margin-bottom: 40px;
	}	
	#head-banner{
		margin:40px auto 0;
		padding:20px;
	}
	#profile-pic-mobile{
		display:none;
	}
	.nav{
		margin:40px auto 0px;	
		padding:0;
	}
	h1{
		margin:40px;
	}
	h2{
		font-size: 1.8em;
	}
	aside{
		margin-right:5%;
		margin-left:5%;
	}

	#bio-section{
		margin-top:-140px;
		margin-bottom:20px;
		float:right;
		flex-wrap: wrap;
	}
	.blog-entry{
		margin: 40px;
		padding:25px 25px 5px 25px;
	}
	.date-blog-entry{
		margin: 20px;
		text-align:left;
		font-size:16pt;
	}
	.title-blog-entry{
		margin: 20px;
		text-align:left;
		font-size:20pt;
	}
	.pic-blog-entry{
		margin: 20px;
	}
	.text-blog-entry{
		margin: 20px;
		text-align:left;
		font-size:14pt;
		line-height: 1.4em;
	}
	.row .social-media-buttons{
		padding-right: 60px;
	}
	.responsive{
		display:inline-block;
	} 					
} 

@media screen and (max-width:320px){
	.container{
		padding:0;
	}
	h1 {
		margin: 30px auto 10px; 
		padding: 0 10px;
	}
	h2 {
		font-size 1.4em;
		padding:0 20px;
	}
	.nav{
		margin:20px auto 0;
	}
	#profile-pic-mobile{
		margin:25px auto 20px;
	}
}

body{
	background-color:#CCFFCC;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	opacity: 0.9;
	color: #666666;          
	font-family: 'Raleway', sans-serif; 
	font-weight: bold;	
	text-transform: optimizelegibility;			
}
article{
	float:left;
}
aside{
	float:left;
}
input{
	height:30px;
}
.blog-entry{	
	color: grey;
	text-align:left;
	border:1px solid #FF0000;
	border-radius: 15px;
}
.text-blog-entry{
	text-align: justify;
    text-justify: inter-word;
}
#bio{	
	margin-top:30px;
	line-height: 1.4em;
	text-align: justify;
    text-justify: inter-word;
    font-size: 13pt;
}

.parallelogram { 
	width: 150px; 
	height: 20px; 
	-webkit-transform: skew(40deg); 
	-moz-transform: skew(40deg); 
	-o-transform: skew(40deg); 
	background: lightgrey; 
	margin:10px auto;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

.img-circle{
	display:block;	
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%); 
	border-radius: 50%;
}
.large-img-circle{height:300px;}
.small-img-circle{height:150px;}

a{	
	/* display: block; */
	padding: 8px;
	color:#666666;
	text-decoration:none;
}
.nav{
	width:95%;
	list-style-type: none;		
	float:none;	
}		
.nav ul{
	padding-left:0px;
}
.nav li {
	display:inline;	 
	margin:0 auto;
	padding:5px 15px;
	text-decoration:none;
	border: #FF0000 solid 1px;
	border-radius: 5px;
	line-height: 2.5em;
}	
.nav a:hover{
	text-decoration:none;
	border: 1px white solid;
	color:lightgrey;
}
a:hover{
	text-decoration:none;
	color:lightgrey;
}

#link-section,#sponsor-section,#social-media{
	/*
	margin:30px 30px 0 30px;
	float:right;
	*/
}

#search-bar{
	margin:20px 0 40px 10px;
}

#link-section ul,#sponsor-section ul,#social-media ul,#popular-posts ul{
	padding:0;
	margin-top: 20px;
}

#link-section ul li,#sponsor-section ul li,#social-media ul li,#popular-posts ul li{
	list-style-type: none;
	text-decoration: none;
}

#social-media ul li a i{
	display: inline;
	float: left;
	padding:10px;
}

#link-section ul li a,#sponsor-section ul li a,#social-media ul li a,#popular-posts ul li a{
	/*color:#666666;*/ 
	padding:0;
}

#social-media{
	width:100%;
	margin:20px 0 20px 10px;
}

#social-media ul li a i{
	font-size: 2em;
}

.empty-vertical-space{
	height:80px;
}

.grow:hover{   
	-webkit-transform: scale(1.1); 
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	}

.button-custom{	
    float: right;
    background-color: white;
    margin:5px;
    width:60px;
}

.margin-row{
	margin-top:5px;
	margin-bottom:5px;
}

.row .button-custom i{
	font-family: 'FontAwesome';	
}



.row .social-media-buttons button .fa{
	font-size:1.2em;
}

.fa { font-family: 'FontAwesome' !important; } /* inutile */

#page-navigation a{
	color:#FF0000;
	margin-top: 20px;
}