

@media screen and (min-width:220px) and (max-width:991px){	
	#bio-section{
		display:none;
	}
	
	.responsive{
		display:inline-block;
	} 
}
@media screen and (min-width:992px){		
	.responsive{
		display:inline-block;
	} 					
} 
@font-face{
	/*font-family: 'Andes';
	src: local('Andes'), url('Andes.ttf'), url('Andes.ttf') format('ttf') ;  */	
}


.container{
	margin-bottom: 40px;
}
.head-banner{
	text-align:center;
	margin:40px;
	padding:20px;
}
.blog-entry{	
	color: grey;
	text-align:left;
	padding: 25px;	
	margin: 40px;
	border:1px solid #FF0000;
	border-radius: 15px;
	width:60%;
}
.date-blog-entry{
	margin: 20px;
	text-align:left;
	font-size:16pt;
}
.title-blog-entry{
	margin: 20px;
	text-align:left;
	font-size:20pt;
}
.pic-blog-entry{
	margin: 20px;
}
.text-blog-entry{
	margin: 20px;
	text-align:left;
	font-size:14pt;
	line-height: 1.4em;
}

#bio-section{
	margin:0 5%;
	float:right;
	flex-wrap: wrap;
	width: 20%;
}

#profile-pic{
	margin-top:-120px;
}

#bio{
	margin:20px;
	padding:10px;
	line-height: 1.4em;
}

.parallelogram { 
	width: 150px; 
	height: 20px; 
	-webkit-transform: skew(40deg); 
	-moz-transform: skew(40deg); 
	-o-transform: skew(40deg); 
	background: lightgrey; 
	margin:10px auto;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

.img-circle{
	display:block;	
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%); 
	border-radius: 50%;
}

.large-img-circle{height:300px;}
.small-img-circle{height:150px;}


h1{
	margin:40px;
	font-size: 32pt;
}

body{
	/*background: linear-gradient(#233476, #7d90d8); 	*/
	background-color:#CCFFCC;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	opacity: 0.9;
	color: #666666;          
	font-family: 'Raleway', sans-serif; 
	font-weight: bold;				
}
a{	
	/* display: block; */
	padding: 8px;
	color:white;
	text-decoration:none;
}
.nav{
	width:100%;
	list-style-type: none;		
	float:none;
	padding:0;
	margin:40px 0px;

	}		
.nav li {
	display:inline;	 
	margin:0 auto;
	padding:5px 15px;
	text-decoration:none;
	border: #FF0000 solid 1px;
	border-radius: 5px;
}	
.nav a:hover{
	text-decoration:none;
	border: 1px white solid;
	color:lightgrey;
}
a:hover{
	text-decoration:none;
	color:lightgrey;
}
.grow:hover{   
	-webkit-transform: scale(1.1); 
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	}

